@import "./styles/mixins";
@import "./styles/vals";
//GLOBALES
body{margin:0;}
p{margin: 0;}

// VERSION MOBILES
    .header{
        @include header-configuration();
        &__image{
            width:20%;
            height: auto;
            img{width: 155px;}
        }
        &__hamburger {@include hamburger-configuration();;}
    }

    .subtitle{
        @include general-padding();
        &__title {@include fancy-heder();}
        &__subtitle {@include fancy-heder();}
        a {@include link-style();}
    }

    .article{
        @include general-padding();
        &__image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        &__title {@include title();}
        &__text{
            @include title();
            p{@include left-border-txt();}
        }
        a {@include link-style();}   
    }

    .container-button{
        @include general-padding();
        button{@include button-style();}
    }

    .last{
        @include general-padding();
        &__text{
            h3{@include fancy-heder();}
            a{@include link-style();}
        }
        &__image{
            margin-top: 10px;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    .networks{
        @include general-padding();
        background: $dark-gray;
        color: white;

        &__content{
            padding: 20px 35px;
            &__icons{@include network-icons();}            
            &__title{@include title();}
            &__text{@include network-text();}
            &__link{@include link-style;}
        }
        
    }

    .newsletter{
        @include newsletter-config();
        h5{margin: 20px;
            color: white;
        @include title();}
        &__camp{
            display: flex;
            flex-direction: row;
            &__input{
                width: 30%;
                height: 35px;
            }
            &__button{
                @include button-style();
                width: 100px;
                margin: 0 10px;
            }
        }
    }
// VERSION TALETS
@media screen and (min-width:768px){
    .article{
        display: flex;
        flex-direction: row;
        &__title{
            padding-left: 10px;
            margin-top: 0;
        }
        &__text{
            p{
            border: 0px;}
        }
    }
    .container-button{
        display: flex;
        justify-content: center;
        button{
            width: 70%;
        }
    }
    .last{
        &__image{
            display: flex;
            justify-content: center;
            img{
                width: 70%;
            }
        }
    }
    .networks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &__content{
            width: 40%;
        }
    }
    .newsletter{
        display: flex;
        flex-direction: row;
        .subcontainer-newsletter{
            display: flex;
            flex-direction: column;
            width: 70%;            
        }
        &__follow{
            @include left-border-txt();
            border-left: 1px solid $dark-gray;
        }

        &__camp{
            margin-left: 10px;
            @include left-border-txt();
            border-left: 1px solid $dark-gray;
            &__button{
                height: 41px;;
            }
        }
    }

}